
body {
    text-rendering: optimizeLegibility;
    color: #222;
    position: relative;
}
a {
    text-decoration: none;
    color: #5798ec
}
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

#sidebar{
    float:right;
    width:20%;
}

#main{
    margin-right: 20%;
    display: table;
}

.rows{
    display: table-row;
}

.rows .time-line{
    display:table-cell;
    text-align: left;
    width:150px;
}
.rows .content{
    display: table-cell;
}

.rows .post-body{
    border-bottom: dashed 1px;
}

body .wrap {
    width: 1000px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 5em;
    margin-left: auto;
}

em {
    font: bold;
}
blockquote {
    background: #eeeeee;
}

time {
    font-family: "PT Sans Caption";
    font-size: 18px;
    color: rgb(78, 78, 78);
}



div .post a {
    font-size: 25px;
}