<!DOCTYPE html>
{%load static %}
<html>

<head>
    <title>Tao</title>
    <link rel="stylesheet" href="{% static 'blogpost/css/style.css' %}" type="text/css" , media='screen' ,
        charset='utf-8'>
</head>

<body>
    <div class='wrap'>
        <div class='topgroup'>
            <br/>
            <br/>
            <h1>
                <a href="{% url 'index' %}">I&1 = 1:这个博客没有前端</a>
            </h1>
            <ul class='navigation'>
                <li><a href='{% url "index" %}'>Home</a></li>
                <li><a href='{% url "list" %}'>List</a></li>
                <li><a href='{% url "login" %}'>Login</a></li>
            </ul>
        </div>
        <ul>
            <li class='main'>
                {% block content %}
                <p>
                    这是一段测试的东东，不要认真，步子迈太大，容易扯着蛋。
                </p>
                {% endblock %}
            </li>
            <li class='sidebar'>
                <p>
                    博客标签：
                </p>
                {% block tags %}
                <p>Tag not defined!</p>
                {% endblock %}
            </li>
        </ul>

    </div>
</body>

</html>