<!DOCTYPE html>
{%load static %}
<html>

<head>
    <title>Tao</title>
    <link rel="stylesheet" href="{% static 'blogpost/css/style.css' %}" type="text/css" , media='screen' ,
        charset='utf-8'>
    <link rel="stylesheet" href="{% static 'blogpost/css/md.css' %}" type="text/css" , media='screen' ,
        charset='utf-8'>
</head>

<body>
    <div class='wrap'>
        <div class='header'>
            <h1>
                <a href="{% url 'index' %}">I&1 = 1</a>
            </h1>
            <p>这个博客没有前端</p>
        </div>

        <div class = 'topnav'>
            <a href='{% url "index" %}'>Home</a>
            <a href='{% url "list" %}'>List</a>
        </div>

        <div id='sidebar'>
            <p>
                博客标签：
            </p>
            {% block tags %}
            <p>Tag not defined!</p>
            {% endblock %}
        </div>
        
        <div id='main'>
            {% block content %}
            <p>
                这是一段测试的东东，不要认真，步子迈太大，容易扯着蛋。
            </p>
            {% endblock %}
        </div>
            
</body>

</html>