{% extends 'blogpost/base.html' %}

{% block content %}

<div class='posts'>
    {% if recent_20_posts %}
    {% for post in recent_20_posts %}
        <div class='article left'>
            <time pubdate='{{ post.posted_date }}'>
                {{ post.posted_date }}
            </time>
        </div>
        <div class='article right'>
            <h1>{{ post.title }}</h1>
            <p> {{ post.body | safe }}</p>
        </div>
    {% endfor %}
</div>
{% else %}
<p>还没有发表任何文章，赶快去发表把.</p>
{% endif %}
{% endblock %}
{% block tags %}
{% if tags %}
<ul>
    {% for tag in tags %}
    <li>
        <a href={% url "tags" tag.id %} class='tags'>
            {{ tag.name }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock%}