{% extends 'blogpost/base.html' %}

{% block content %}

{% if recent_20_posts %}
{% for post in recent_20_posts %}
<div class = 'rows'>
    <div class='time-line'>
        <time pubdate='{{ post.posted_date }}'>
            {{ post.posted_date }}
        </time>
    </div>
    <div class='content post-body'>
        <h1>{{ post.title }}</h1>
        <p> {{ post.body | safe }}</p>
    </div>
</div>

{% endfor %}
{% else %}
<p>还没有发表任何文章，赶快去发表把.</p>
{% endif %}
{% endblock %}
{% block tags %}
{% if tags %}
<ul>
    {% for tag in tags %}
    <li>
        <a href={% url "tags" tag.id %} class='tags'>
            {{ tag.name }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock%}